
.nav-general {
	justify-content: left;
    align-items: left;
	font-size: large;
	background: gray;
	color: white;
}

.nav-links {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	font-size: large;
    margin-right: 2rem;
	align-items: center;
	list-style: none;
}